<div id="promptListOuterContainer" >
<% if (typeof (this.prompts) != 'undefined' && this.prompts.length > 0) { %>
	<ul class="preview-panel-prompt-list-container" >
		<% for (var i=0; i < this.prompts.length ; i++ ) { 
			var prompt = this.prompts[i];
			%>
			<%== $.View(
				'./application/admin_controllers/preview_panel_item_controller/views/preview_panel_prompt_item_container.ejs'
				, prompt ) //these are now sections
				
				%> 
		<%}%>
	</ul>
<%}%>
</div>