<div 
	id="commandsDialog" 
	class="ui-widget" 
<%= plugin('level3_ddpw_administration_commands_dialog', { 
		selectedModel: this.selectedModel, 
		selectedResponseElement: this.selectedResponseElement,
		selectedCommand: this.selectedCommand,
		selectedCommandIndex: this.selectedCommandIndex
}) %>
>
	<div id="commandsDialogLeftPanel" style="">
	</div>
	<div id="commandsDialogRightPanel" style="">
		<div class="ui-widget ui-widget-content">Select a command at left...</div>
	</div>

</div>
	