<div class="ui-widget ui-widget-content"> 
	<h3>
		<%= this.label %>
	</h3>
	<hr />
	<p>
		<%= this.description %>
	</p>
</div>
<div class="ui-widget ui-widget-content"> 
	<form id="commandDetailsForm"> 
	<div>
		Custom Note (temporary placeholder until command forms are completed):
	</div>
	<textarea cols="70" rows="7" name="customNote"><%= this.customNote %></textarea>
	</form> 
</div>
<div class="ui-widget command-controls-container">
	<button class="save-command-close">Save Command and Close</button>
	<button class="save-command-new">Save Command and New</button>
	<button class="cancel-command" >Cancel</button>
</div>