<li  <%= [this,Level3_ddpw_administration.Controllers.PreviewPanelItemController] %> >
	<div class="promptItemRenderer" />
	<div class="promptActions ">
		<button class="nextButton action_button smallSizeBtn">Next</button>
	</div>
</li>