<div id="propertiesPanelMenuContainer">
	<%== $.View("./application/admin_controllers/properties_panel_controller/views/properties_panel_menu.ejs") %>
</div>
<div id="propertiesPanelSelectedItemControlsContainer"></div>
<div id="propertiesPanelClassificationPanel" class="ui-widget" 
<%= plugin('level3_ddpw_administration_classification_panel', { selectedModel: this.selectedModel }) %>
 />