<div id="propertiesPanelMenu">
	<button id="propertiesPanelMenuOutdent"><label>Outdent</label></button>
	<button id="propertiesPanelMenuIndent"><label>Indent</label></button>
	<button id="propertiesPanelMenuMoveUp"><label>Move Up</label></button>
	<button id="propertiesPanelMenuMoveDown"><label>Move Down</label></button>
	<button id="propertiesPanelMenuDelete"><label>Delete</label></button>
</div>
