<div id="propertiesPanelNull" class="ui-widget">
	<div class="ui-widget ui-widget-header">
		No Selection
	</div>
	<p class="ui-widget-content">
		Prompt properties not editable in preview mode.
	</p>
</div>