<table class="responseOptionsListContainer" cellpadding="0" cellspacing="0" width="100%" 
 >
			<tr class="ui-widget-header">
			<th width="40%">
			
				Label					
			</th>
			<th width="20%">
				Value
			</th>
			<th width="20%">
				
			</th>
			</tr>
			
	<% 
		this.responseOptions.each ( function (index, responseOption ) {
		var commandsExist =  typeof (this.commands) != 'undefined' && this.commands.length > 0;
		console.debug ( "properties_panel_prompt_response_option_item_container : " , this );
		%>
			<%== $.View("./application/admin_controllers/properties_panel_controller/views/properties_panel_prompt_response_option_item_container.ejs",
			{"key":index, 
			"option": responseOption,
			"i":index,
			"commandsExist" : commandsExist,
			"commands" : commandsExist ? this.commands : commandsExist
			}) %>
	<% }); %>
			
</table>
