<li  <%= [this, Level3_ddpw_administration.Controllers.PromptItemController] %> >
	<div class="promptItemRenderer" />
	<div class="promptActions">
		<button class="executionNextButton action_button smallSizeBtn">Next</button>
	</div>
</li>