<div id="left_panel_container" class="ui-widget ui-widget-content applicationContainer">
	<div id="leftPanelTabContainer">
		<ul>
			<li><a href="#tools_panel">Tools</a></li>
			<li><a href="#propertiesPanel">Properties</a></li>
		</ul>
		<div id="tools_panel"></div>
		<div id="propertiesPanel"></div>
	</div>
</div>	
<div id="center_panel_container"  class="ui-widget ui-widget-content applicationContainer">
	<div id="centerPanelTabContainer">
		<ul>
			<li><a href="#builderPanel">Builder</a></li>
			<li><a href="#previewPanel">Preview</a></li>
			<li><a href="#outlinePanel">Outline</a></li>
		</ul>
		<div id="builderPanel"></div>
		<div id="previewPanel"></div>
		<div id="outlinePanel"></div>
	</div>
</div>	
<div id="right_panel_container"  class="ui-widget ui-widget-content applicationContainer"></div>
<div class="clear bottom">&nbsp;</div>