<div id="propertiesPanelPrompt">
	<form <%=this %>>
		<div>
			<label for="text">Title</label>
			<input type="text" name="text" id="text" value="<%= this.text %>"/>
		</div>
		<div id="propertiesPanelPromptTypeControlsContainer"></div>
		<div>
			<button id="saveButton">Save</button>
			<button id="cancelButton">Cancel</button>
		</div>
	</form>
</div>