<li class="filterSelectionListItem">
	<div class="filterSelectionListItemLabel"><%= this.selectedFilter.filterSelection %></div>
	<div class="filterValueListItemLabel" ><%= this.selectedFilter.filterValueSelection %></div>
	<button class='removeFilter'></button>
</li>