<div id="multiSelectDGWF_filterSelectionDialogContainer" class="filterSelectionContainer hidden">
	<form id="multiSelectDGWF_filterSelectionForm">
	<label for="filterSelection" 
		title="Optionally, the query for the presented data may be filtered with certain inputs. This is the property that will be passed to the server in the query that will be used for the filter.">
		Filter By:
	</label>
	<select id="filterSelection" name="filterSelection" />
	<br/>
	<label for="filterValueSelection" 
		title="This is the value that will be used for the actual filter (as opposed to the property on which to filter).">
		Using :
	</label>
	<select id="filterValueSelection" name="filterValueSelection" />

	</form>
</div>