<li <%= plugin('level3_ddpw_administration_commands_item', { command: this.command }) %>>
	<span style="width:55%;">
		<%= this.command.label %>
	</span>
	<span style="width:40%;">
		<button class="modify-command-button"></button>
		<button class="delete-command-button"></button>
	</span>
</li>